/backend/node_modules/
/backend/functionalPhotos/
/backend/cliques_photos/
/backend/photos/
/backend/trips/
/backend/events/
/backend/meetings/
/backend/.env
/backend/.env_clean
/backend/getCalendarTest.js
/backend/videos/