body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: nowrap;
}

header {
    width: 100%;
    font-size: 80px;
    background-color: black;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px;
    text-align: center;
    min-height: 100px;
}

nav.left-menu,
aside.right-menu {
    flex: 0 0 15%; /* Adjust the width of left and right menus as needed */
    background-color: #f4f4f4;
    padding: 20px;
    min-height: 1600px;
}

#main{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.left_option {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}
.left_option:hover {
    font-weight: 600;
}
a {
    text-decoration: none;
    color: black;
}
.human_tile {
    width: 26%;
    margin-bottom: 40px;
    border-radius: 35px;
    aspect-ratio: 2/3;
    text-align: center;
    border: 1px solid black;
}
.human_tile:hover {
    background-color: red;
}

.human_tile:hover>.person_photo {
    opacity: 100%;
}

.person_photo {
    margin-top: 10%;
    width: 80%;
    opacity: 80%;
    border-radius: 35px;
    border: 1px solid black;
}

.nameDiv {
    text-align: center;
    padding-bottom: 10px;
    font-size: 24px;
    position: relative;
    top:10px;
    font-family: "Comic Sans MS";
}
.visits_number {
    font-family: "Patrick Hand";
    text-align: center;
    font-size: 20px;
    position: relative;
  }
  .clique_div {
    width: 26%;
    margin-bottom: 40px;
    border-radius: 35px;
    aspect-ratio: 20/25;
    text-align: center;
    border: 1px solid black;
  }
  .clique_div:hover {
    background-color: red;
  }
  .clique_photo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    aspect-ratio: 1/1;
    border: 1px solid black;
}
.golden_quote {
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    font-family: serif;
}
#human_modal {
    display: none;
    width:70%;
    top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    height: 90%;
    background-color: antiquewhite;
    position: fixed;
    border: 1px solid black;
    margin-bottom: 10px;
    z-index: 100;
    border-radius: 10px;
}
#topOfHumanModal {
    height: 50px;
    margin-top: 0px;
    padding-top: 0px;
}
#topOfHumanModal > #closingDiv {
    height: 30px;
    border: 1px solid black;
    font-size: 30px;
    border-radius: 15px;
    width: 30px;
    position: absolute;
    text-align: center;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
#restOfModal {
    height: calc(100% - 40px);
    display: flex;
    top: 40px;
    width: 100%;
    position: relative;
}
#leftModalMenu {
    width: 25%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.left_modal_option {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}
.left_modal_option:hover {
    font-weight: 600;
}
.humanPhotoInModal {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    width:30%;
    border: 1px solid black;

}
#placeForHumanInfo {
    text-align: center;
    width: 75%;
    overflow-y: scroll;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Comic Sans MS";
    margin-bottom: 15px;

}
.nameInGeneralInfo {
    font-family: 'Comic Sans MS';
    font-size: 36px;
}
.lineInGeneralInfo {
    font-family: 'Comic Sans MS';
    font-size: 20px;
}

#placeForInteractingPeople {
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}

.interactingPersonImage {
    width: 25%;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
}
.quoteDivInModal {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-family: serif;
    font-style: italic;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
.quoteAuthorPhoto {
    width:30%;
    border: 1px solid black;
}
.visitDetailsDiv, .meetingsDetailsDiv, .eventDetailsDiv {
    text-align: justify;
    font-family: 'Arial';
    font-size: 18px;
    margin-left: 10%;
    width: 80%;
    margin-left: 10%;
}