body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: nowrap;
}

header {
    width: 100%;
    font-size: 80px;
    background-color: black;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px;
    text-align: center;
    min-height: 100px;
}

nav.left-menu,
aside.right-menu {
    flex: 0 0 15%; 
    background-color: #f4f4f4;
    padding: 20px;
    min-height: 100vh;
}

#main {
    flex: 1; 
    padding: 60px;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#main-flex {
    flex: 1; 
    padding: 60px;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.left_option {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}
.left_option:hover {
    font-weight: 600;
}
.human_tile_in_add_visit, .chosen_human_tile, .human_tile_in_add_human {
    width: 26%;
    margin-top: 40px;
    border-radius: 35px;
    aspect-ratio: 4/5;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    border: 1px solid black;
}
.human_tile_in_add_visit:hover, .human_tile_in_add_human:hover, .chosen_human_tile:hover {
    background-color: red;
}

.human_tile {
    width: 26%;
    margin-bottom: 40px;
    border-radius: 35px;
    aspect-ratio: 2/3;
    text-align: center;
    border: 1px solid black;
}
.human_tile:hover {
    background-color: red;
}

.human_tile:hover>.person_photo {
    opacity: 100%;
}

.person_photo {
    margin-top: 10%;
    width: 80%;
    opacity: 80%;
    border-radius: 35px;
    border: 1px solid black;
}

.nameDiv {
    text-align: center;
    padding-bottom: 10px;
    font-size: 24px;
    position: relative;
    top:10px;
    font-family: "Comic Sans MS";
}

  .content_title {
    font-size: 50;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }
  .visits_number {
    font-family: "Patrick Hand";
    text-align: center;
    font-size: 20px;
    position: relative;
  }
  .clique_div {
    width: 26%;
    margin-bottom: 40px;
    border-radius: 35px;
    aspect-ratio: 20/25;
    text-align: center;
    border: 1px solid black;
  }
  .humansContainerInCliqueDiv {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  .humansContainerInCliqueDiv>.humanInCliqueDiv {
    width: 22%;
    border: 1px solid black;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .clique_div:hover {
    background-color: red;
  }
  .clique_div > .clique_photo_in_all_cliques {
    width: 70%;
    border: 1px solid black;
    margin: calc(15% - 1px);
    margin-bottom: 20px;
    border-radius: 5px;
}
.clique_div>.clique_name_in_clique_div {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Comic Sans MS';
    margin-left: 10%;
    margin-right: 10%;
}
  .clique_photo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    aspect-ratio: 1/1;
    border: 1px solid black;
}
input[type=text] {
    width: 80%;
    min-height: 30px;
}
input[type=submit] {
    max-height: 30px;
    width: 60%;
}
.right_arrow_div {
    width: 10%;
    position: relative;
    right: 16%;
    z-index: 20;
}
a {
    text-decoration: none;
    color: black;
}

#cliquesSuggestionsInAddHuman {
    width: 80%;
    border: 1px solid black;
    margin-left: 10%;
    margin-left: 10%;
}
#cliquesSuggestionsInAddHuman>input {
    width: calc(100% - 8px);
}
#cliqueInputDiv {
   margin-left: auto;
   margin-right: auto;
}

.cliqueSuggestion {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #010101;
}

.cliqueSuggestion>.nameOfClique {
    font-size: 24px;
    width:95%;
    margin-left: 2%;
    text-align: left;
}
.cliqueSuggestion>.photoOfClique {
    height: 30px;
    width: 5%;
    margin-top: auto;
    margin-bottom: auto;
}
.photoOfClique>img {
    height: 30px;
    align-items: center;
}
.cliqueSuggestion:hover {
    font-weight: 700;
}


.golden_quote {
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    font-family: serif;
}
#adding_quote_header {
    margin-bottom: 20px;
    padding-bottom: 0px;
}
#quoteAuthorSugestions>input {
    width:80%;
    margin-left: calc(10% - 1px);
    margin-right: calc(10% - 1px);
    justify-content: center;
}
.quoteAuthorSuggestion {
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
    display: flex;
    border-bottom: 1px dashed gray;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-top: 5px;
    padding-top: 5px;
}
.quoteAuthorSuggestion > img {
    height: 80%;
    padding-top: auto;
    padding-bottom: auto;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    aspect-ratio: 1/1;
}
.quoteAuthorSuggestion > .quoteAuthorName {
    font-family: cursive; 
    font-size: 25px;
    height: 80%;
    width: calc(100% - 60px);
    margin-top: auto;
    margin-left: 10px;
    margin-bottom: auto;
}
#quoteAuthorSuggestions {
    background-color: wheat;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.quoteAuthorSuggestion:hover {
    background-color: red;
}
.closingDiv {
    position: relative;
    left: 80%;
    top: 20px;
    width:20px;
    height: 20px;
    border-radius: 15px;
    justify-content: center;
    border: 1px solid black;
}
.closingDiv:hover {
    cursor: pointer;
}
#chosenGuestsContainer, #suggestedHumansContainer, #chosenHumansContainer {
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
#quoteTextarea {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#divForVisitGuests {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.guestPicture {
    width: 80%;
    margin-top: 10px;
    border: 1px black solid;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    aspect-ratio: 1/1;
}
.nameOfGuest {
    font-family: cursive;
    font-size: 14px;
}
input {
    height: 20px;
}
h2 .inputHeader {
    width:100%;
}
#suggestedGuestsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.calendarContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
.dayRectangle {
    width: 11%;
    display: flex;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    aspect-ratio: 1/1;
    border: 2px solid black;
    margin-bottom: 10px;
    border-radius: 5%;
}
.ghostDayRectangle {
    width: calc(11% + 4px);
    margin-left: 2%;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
}
.calendarContainer>h2 {
    width: 100%;
}
.nameOfWeekdayDiv {
    width: 11% ;
    border: 2px solid black;
    margin-left: 2%;
    margin-bottom: 10px;
    aspect-ratio: 3/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.slider {
    width: 80%;
}
.slider>img {
    width: 100%;
    margin-top: calc(10% - 2px);
    border: 1px solid black;
    border-radius: 3px;
}
#weddingCharactersDiv {
    display: flex;
    justify-content: space-evenly;
}
.weddingCharacter {
    width: 30%;
}
.weddingCharacter>img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    border: 1px solid black;
}
#partnerCandiatesDiv, #groomCandiatesDiv, #brideCandiatesDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wedPersonNuller {
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-left: calc(50% - 31px);
    margin-right: calc(50% - 31px);
}
.wedPersonNuller:hover {
    cursor: pointer;
}
.weddingWithParther > .groomPhoto {
    left: 20%;
    bottom: 25%;
    position: relative;
    width: 35%;
}

.weddingWithParther > .bridePhoto {
    right: 30%;
    top: 25%;
    position: relative;
    width: 35%;
}
.weddingWithParther > .ringsPhoto {
    width: 15%;
    right: 5%;
    position: relative;
}
.weddingWithParther > .partnerPhoto {
    width: 40%;
    right: 20%;
    position: relative;
}

.weddingWoParther > .groomPhoto {
    left: 0%;
    bottom: 25%;
    position: relative;
    width: 35%;
}

.weddingWoParther > .bridePhoto {
    left: 0%;
    top: 25%;
    position: relative;
    width: 35%;
}
.weddingWoParther > .ringsPhoto {
    width: 15%;
    position: relative;
}
.wrappingContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-evenly;
}
.suggestedPhotoDiv {
    width: 24%;
    border: 1px solid black;
    border-radius: 15px;
}
.suggestedPhotoDiv:hover {
    background-color: #e12121;
    transition: ease-in;
}
.framedPhoto {
    border: 1px solid black;
    border-radius: 25px;
    width: 80%;
    margin: calc(10% - 1px)

}
#day_modal {
    display: none;
    width:70%;
    top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    height: 90%;
    background-color: antiquewhite;
    position: fixed;
    border: 1px solid black;
    margin-bottom: 10px;
    z-index: 100;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
} 
#topOfDayModal {
    height: 50px;
    margin-top: 0px;
    padding-top: 0px;
}
#topOfDayModal > #closingDiv {
    height: 30px;
    border: 1px solid black;
    font-size: 30px;
    border-radius: 15px;
    width: 30px;
    position: absolute;
    text-align: center;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
#restOfModal {
    height: calc(100% - 40px);
    display: flex;
    top: 40px;
    width: 100%;
    position: relative;
}
#leftModalMenu {
    width: 25%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.left_modal_option {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}
.left_modal_option:hover {
    font-weight: 600;
}
#placeForDayInfo {
    text-align: center;
    width: 75%;
    overflow-y: scroll;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Comic Sans MS";
    margin-bottom: 15px;

}
#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    color: white;
    text-align: center;
}
#footer > a {
    color: white;
}
#allPlacesMap {
    margin: 5%;
    border: 1px solid black;
    width: calc(90% - 2px);
    aspect-ratio: 3/2;
}
#geoCoordinatesDiv {
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
}
.geoCoordInput {
    width: 50%;
}